{% extends "base.html" %}


{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
    	<label for="username">UserName: </label>
		<input id="username" type="text" name="username" value="{{ UserForm.username }}">
    	<label for="email">Email: </label>
		<input id="email" type="text" name="email" value="{{ UserForm.email }}">
    	<label for="password">Password: </label>
		<input id="password" type="password" name="password" value="{{ UserForm.password }}">

	
	    <input type="submit" class="btn btn-success" value="Create..." />
	</form>

<!-- <form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create new user account" />
</form>
 -->
{% endblock %}