{% extends "base.html" %}

{% block content %}
    <h1 style="color: white">DASHBOARD</h1>
	
      <div class="container" style="padding: 0">

        <div class="col-md-4">
        <iframe src="https://embed.spotify.com/?uri={{ playlists.0.uri }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <div class="pre-scrollable" style="margin-right: 70px; align: center; width: 300px; height: 380px; display: inline-block; background-color: #181818; padding: 0; overflow: scroll" >
			<ul>
			{% for playlist in playlists %}
				<li id = "{{ forloop.counter }}">
					<p style="color: white"> {{ playlist.name }} </p>
					<img src="{{ playlist.images.0.url }} " height="100" width="100"> </img>	
				</li>
				{% endfor %}
			
			</ul>
       </div>

        <div class="pre-scrollable" style="align: center; width: 300px; height: 380px; display: inline-block; background-color: #181818; overflow: scroll">
			<ul>
				{% for event in events %}
				<li id = "{{ forloop.counter }}">
					<p style="color: white"> {{ event.summary }} </p>
					<p style="color: #a0a0a0"> {{ event.start.dateTime }} </p>
					<p style="color: #a0a0a0"> {{ event.end.dateTime }} </p>
				</li>
				{% endfor %}
			
			</ul>
        </div>

    </div>



	<iframe src=""
        mode=DAY&amp;
        showNav=0&amp;
        showPrint=0&amp;
        showDate=0&amp;
        showTabs=0&amp;
        showCalendars=0&amp;
        showTz=0&amp;
        dates=20100108/20100108&amp;
        height=1000&amp;
        bgcolor=%23FFFFFF&amp;
        src= ;
        color=%23AB8B00&amp;
        ctz=America%2FLos_Angeles" style=" border-width:0 " width="500" height="500" frameborder="0" scrolling="no">
            
        </iframe>
	</div>


{% endblock %}
