{% extends "base.html" %}

{% block content %}
    <h4>DASHBOARD</h4>
    
	<ul>
		<li>Shakira</li>
		<iframe src="https://embed.spotify.com/?uri=spotify:user:1248308979:playlist:0bVFwy3FhwMtfsUsfnlWI1" width="300" height="380" frameborder="0" allowtransparency="true" id ="shakira"></iframe>

		<li>Coldplaysito</li>
		<iframe src="https://embed.spotify.com/?uri=spotify:user:1210510039:playlist:5c2UWQA8X1Ke2ubW6hHRal" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

		<li>Mood Booster</li>
		<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:6uTuhSs7qiEPfCI3QDHXsL" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


	</ul>



	<div style="display:inline-block">

	<iframe src=""
		mode=DAY&amp;
		showNav=0&amp;
		showPrint=0&amp;
		showDate=0&amp;
		showTabs=0&amp;
		showCalendars=0&amp;
		showTz=0&amp;
		dates=20100108/20100108&amp;
		height=1000&amp;
		bgcolor=%23FFFFFF&amp;
		src= ;
		color=%23AB8B00&amp;
		ctz=America%2FLos_Angeles" style=" border-width:0 " width="500" height="500" frameborder="0" scrolling="no">
			
		</iframe>



	</div>







<script src="{% static "js/dashboard.js" %}"></script>


{% endblock %}
